{{template "base" .}}

{{define "action"}}Message{{end}}

{{define "activation"}}An activation link has been sent to your email account{{end}}

{{define "recovery"}}A recovery link has been sent to your email account{{end}}

{{define "activated"}}Your account has being activated{{end}}

{{define "recovered"}}Password reset successfully{{end}}

{{define "body"}}
    <h2>Message</h2>
    {{if (eq .Params.Action "activation")}}
        {{template "activation" .}}
    {{else if (eq .Params.Action "activated")}}
        {{template "activated" .}}
    {{else if (eq .Params.Action "recovery")}}
        {{template "recovery" .}}
    {{else if (eq .Params.Action "recovered")}}
        {{template "recovered" .}}
    {{end}}
    <div class="form-division">
        <h6>Go back to <a href="/" style="text-decoration: none">Home</a></h6>
    </div>
{{end}}