{{template "base" .}}

{{define "action"}}Register{{end}}

{{define "body"}}
    <h2 class="form-header">Register</h2>
    <div class="form-division"></div>
    <form method="post">
        <div class="form-control">
            <input type="text" name="email" placeholder="Type your email" class="form-input">
        </div>
        <div class="form-control">
            <input type="password" name="password" placeholder="Type your password" class="form-input">
        </div>

        <div class="form-control">
            <input type="submit" class="btn" value="Continue">
        </div>
    </form>
    <div class="form-division">
        <h6>Already have an account?</h6>
    </div>
    <a href="{{.Router.AuthorizePath}}" style="text-decoration: none">
        <div class="form-control btn">
            Login
        </div>
    </a>
{{end}}