{{template "base" .}}

{{define "action"}}Login{{end}}

{{define "body"}}
    <div class="container">
        <div class="container-title">Log In</div>
        <div class="container-subtitle">Don't have an account? <a href="{{.Router.RegisterPath}}">Sign Up</a></div>
        <div class="row center-xs container-area">
            <div class="col-xs row middle-xs">
                <div class="col-xs row center-xs">
                    {{range .Providers}}
                        <a class="col-xs provider {{.Name}}" href="{{.Link}}">
                            <div class="icon {{.Name}}"></div>
                            <div>Continue with <span>{{.Name}}</span></div>
                        </a>
                    {{end}}
                </div>
            </div>
            <div class="col-xs row middle-xs">
                <form method="post" class="col-xs">
                    <div>
                        <input type="text" name="username" placeholder="Email">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password">
                    </div>

                    <input type="hidden" name="response_type" value="code">
                    <input type="hidden" name="client_id" value="{{.Params.ClientID}}">
                    <input type="hidden" name="redirect_uri" value="{{.Params.RedirectURI}}">
                    <input type="hidden" name="scope" value="{{.Params.Scope}}">
                    <input type="hidden" name="state" value="{{.Params.State}}">

                    <div class="forgot-link">
                        <a href="{{.Router.StatePath}}">Forgot your password?</a>
                    </div>

                    <div class="content-input">
                        <input type="submit" value="Log In">
                    </div>
                </form>
            </div>
        </div>
    </div>
{{end}}