{{template "base" .}}

{{define "action"}}Recovery{{end}}

{{define "body"}}
    <div class="container" style="max-width: 400px;">
        <div class="container-title">Reset password</div>
        <div class="container-subtitle">Go back <a href="/">Home</a></div>
        <div class="container-area row center-xs">
            <div>
                <form method="post">
                    <div>
                        <input type="password" name="password" placeholder="Password">
                    </div>

                    <div class="content-input">
                        <input type="submit" value="Submit">
                    </div>

                    <input type="hidden" name="token" value="{{.Params.Token}}">
                </form>
            </div>
        </div>
    </div>
{{end}}