{{template "base" .}}

{{define "action"}}Register{{end}}

{{define "body"}}
    <div class="container" style="max-width: 400px;">
        <div class="container-title">Sign Up</div>
        <div class="container-subtitle">Already have an account? <a href="{{.Router.AuthorizePath}}">Log In</a></div>
        <div class="container-area row center-xs">
            <div>
                <form method="post">
                    <div>
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Password">
                    </div>

                    <div class="content-input">
                        <input type="submit" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
    </div>
{{end}}