{{template "base" .}}

{{define "action"}}Action{{end}}

{{define "body"}}
    <div class="container" style="max-width: 400px;">
        <div class="container-title">{{.Params.Action}}</div>
        <div class="container-subtitle">Go back to <a href="{{.Router.AuthorizePath}}">Log In</a></div>
        <div class="container-area row center-xs">
            <div>
                <form method="post">
                    <div>
                        <input type="text" name="email" placeholder="Email">
                    </div>

                    <div class="content-input">
                        <input type="submit" value="Send Email">
                    </div>

                    <input type="hidden" name="action" value="{{.Params.Action}}"/>
                </form>
            </div>
        </div>
    </div>
{{end}}