{{ define "base" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{template "action" .}} - {{.Router.AppName}}</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

            * {
                box-sizing: border-box;
            }


            body {
                background: linear-gradient(45deg, #7175da, #9790F2);
                font-family: 'Muli', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                min-height: 100vh;
                margin: 0;
            }

            input {
                font-family: 'Muli', sans-serif;
                outline: none;
            }

            .courses-container {

            }

            .course {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                display: flex;
                max-width: 100%;
                margin: 20px;
                overflow: hidden;
            }

            .course h6 {
                opacity: 0.6;
                margin: 0;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            .course h2 {
                letter-spacing: 1px;
                margin: 10px 0;
            }

            .course-preview {
                background-color: #2A265F;
                color: #fff;
                padding: 30px;
                max-width: 250px;
            }

            .course-preview a {
                color: #fff;
                display: inline-block;
                font-size: 12px;
                opacity: 0.6;
                margin-top: 30px;
                text-decoration: none;
            }

            .course-info {
                padding: 30px;
                position: relative;
                width: 100%;
                text-align: center;
            }

            .progress-container {
                position: absolute;
                top: 30px;
                right: 30px;
                text-align: right;
                width: 150px;
            }

            .progress {
                background-color: #ddd;
                border-radius: 3px;
                height: 5px;
                width: 100%;
            }

            .progress::after {
                border-radius: 3px;
                background-color: #2A265F;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 5px;
                width: 66%;
            }

            .progress-text {
                font-size: 10px;
                opacity: 0.6;
                letter-spacing: 1px;
            }

            .btn {
                background-color: #2A265F;
                border: 0;
                border-radius: 50px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                color: #fff;
                font-size: 16px;
                padding: 12px 25px;
                letter-spacing: 1px;
                text-decoration: none;
                width: 100%;
                cursor: pointer;
                outline: none;
            }

            .form-header {
                text-transform: capitalize;
            }

            .form-input {
                background-color: white;
                border: 1px solid #2A265F;
                border-radius: 50px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                color: #000;
                font-size: 14px;
                padding: 12px 25px;
                letter-spacing: 1px;
                width: 100%;
            }

            .form-control {
                margin-top: 10px;
                width: 100%;
            }

            .form-division {
                margin-top: 40px;
                margin-bottom: 10px;
            }

            .forgot-password {
                margin-top: 10px;
                color: black;
                width: 100%;
            }

            .forgot-password > a {
                opacity: 0.9;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 10px;
                text-decoration: none;
            }

            .providers-box {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: center;
                align-items: start;
                align-content: space-evenly;
            }

            .provider {
                width: 40px;
                height: 40px;
                /*border-radius: 50%;*/
                flex: 0 0 auto;
                margin: 0 5px;
            }

            .provider:hover {
                opacity: .5;
            }

            .provider > a {
                text-decoration: none;
            }

            .google-provider {
                background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iZ29vZ2xlIiAKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDM1IDM1Ij4KICAgIDxwYXRoIGNsYXNzPSJsb2dvIiBmaWxsPSIjNDI4NWY0IiBkPSJNMjYuNjQsMTguMmExMC4zNCwxMC4zNCwwLDAsMC0uMTYtMS44NEgxOHYzLjQ4aDQuODRBNC4xNCw0LjE0LDAsMCwxLDIxLDIyLjU2djIuMjZIMjRhOC43OCw4Ljc4LDAsMCwwLDIuNjgtNi42MloiLz4KICAgIDxwYXRoIGNsYXNzPSJib3R0b20gbG9nbyIgZmlsbD0iIzM0YTg1MyIgZD0iTTE4LDI3YTguNTksOC41OSwwLDAsMCw2LTIuMThMMjEsMjIuNTZBNS40Myw1LjQzLDAsMCwxLDEzLDE5LjcxSDEwVjIyYTksOSwwLDAsMCw4LDVaIi8+CiAgICA8cGF0aCBjbGFzcz0ibGVmdCBsb2dvIiBmaWxsPSIjZmJiYzA1IiBkPSJNMTMsMTkuNzFhNS4zMiw1LjMyLDAsMCwxLDAtMy40MlYxNEgxMEE5LDksMCwwLDAsMTAsMjJsMy0yLjMzWiIvPgogICAgPHBhdGggY2xhc3M9InRvcCBsb2dvIiBmaWxsPSIjZWE0MzM1IiBkPSJNMTgsMTIuNThhNC44Niw0Ljg2LDAsMCwxLDMuNDQsMS4zNUwyNCwxMS4zNEE4LjY1LDguNjUsMCwwLDAsMTgsOWE5LDksMCwwLDAtOCw1bDMsMi4zM2E1LjM2LDUuMzYsMCwwLDEsNS0zLjcxWiIgLz4KPC9zdmc+");
                background-size: cover;
                width: 100%;
                height: 100%;
            }

            .facebook-provider {
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJmYWNlYm9vayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MDAgNTAwIgoJIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwMCA1MDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iIzNDNUE5OSIgZD0iTTEzNC43LDEyMGMtMTMuNywwLjMtMTQuNywxNC43LTE0LjcsMTQuN3MwLjEsMjI0LjMsMCwyMzcuNGMtMC4xLDEzLjEsMTQuNywxNC43LDE0LjcsMTQuN2wxMjcuOCwwVjI4My42CgloLTM0Ljh2LTQwLjNoMzQuOHYtMjkuN2MwLjItNTcsNTEuOC01My4yLDUxLjgtNTMuMnMzMS4xLDAsMzEuMSwxLjZ2MzZoLTIxLjNjLTIyLjctMC4yLTIwLDE5LjYtMjAsMTkuNnYyNS43SDM0NGwtNS4yLDQwLjNoLTM0LjcKCXYxMDMuNGMwLDAsNTMuMywwLDY4LDBjMTQuNywwLDE0LjctMTQuNywxNC43LTE0LjdzMC40LTIyMywwLTIzNy40Yy0wLjQtMTQuNC0xNC43LTE0LjctMTQuNy0xNC43SDEzNC43eiIvPgo8L3N2Zz4K");
                background-size: cover;
                width: 100%;
                height: 100%;
            }

            /* SOCIAL PANEL CSS */
            .social-panel-container {
                position: fixed;
                right: 0;
                bottom: 80px;
                transform: translateX(100%);
                transition: transform 0.4s ease-in-out;
            }

            .social-panel-container.visible {
                transform: translateX(-10px);
            }

            .social-panel {
                background-color: #fff;
                border-radius: 16px;
                box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
                border: 5px solid #001F61;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Muli';
                position: relative;
                height: 169px;
                width: 370px;
                max-width: calc(100% - 10px);
            }

            .social-panel button.close-btn {
                border: 0;
                color: #97A5CE;
                cursor: pointer;
                font-size: 20px;
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .social-panel button.close-btn:focus {
                outline: none;
            }

            .social-panel p {
                background-color: #001F61;
                border-radius: 0 0 10px 10px;
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                padding: 2px 17px 6px;
                position: absolute;
                top: 0;
                left: 50%;
                margin: 0;
                transform: translateX(-50%);
                text-align: center;
                width: 235px;
            }

            .social-panel p i {
                margin: 0 5px;
            }

            .social-panel p a {
                color: #FF7500;
                text-decoration: none;
            }

            .social-panel h4 {
                margin: 20px 0;
                color: #97A5CE;
                font-family: 'Muli';
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
            }

            .social-panel ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .social-panel ul li {
                margin: 0 10px;
            }

            .social-panel ul li a {
                border: 1px solid #DCE1F2;
                border-radius: 50%;
                color: #001F61;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 50px;
                text-decoration: none;
            }

            .social-panel ul li a:hover {
                border-color: #FF6A00;
                box-shadow: 0 9px 12px -9px #FF6A00;
            }

            .floating-btn {
                border-radius: 26.5px;
                background-color: #001F61;
                border: 1px solid #001F61;
                box-shadow: 0 16px 22px -17px #03153B;
                color: #fff;
                cursor: pointer;
                font-size: 16px;
                line-height: 20px;
                padding: 12px 20px;
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 999;
            }

            .floating-btn:hover {
                background-color: #ffffff;
                color: #001F61;
            }

            .floating-btn:focus {
                outline: none;
            }

            .floating-text {
                background-color: #001F61;
                border-radius: 10px 10px 0 0;
                color: #fff;
                font-family: 'Muli';
                padding: 7px 15px;
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                z-index: 998;
            }

            .floating-text a {
                color: #FF7500;
                text-decoration: none;
            }

            @media screen and (max-width: 480px) {

                .social-panel-container.visible {
                    transform: translateX(0px);
                }

                .floating-btn {
                    right: 10px;
                }
            }
        </style>
        {{/*    SLIDE TOP     */}}
        <style>
            .slide-top {
                -webkit-animation: slide-top 0.7s ease-in-out both;
                animation: slide-top 0.7s ease-in-out both;
            }

            /* ----------------------------------------------
     * Generated by Animista on 2020-9-10 16:29:55
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info.
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

            /**
             * ----------------------------------------
             * animation slide-top
             * ----------------------------------------
             */
            @-webkit-keyframes slide-top {
                0% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
                100% {
                    -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
                }
            }

            @keyframes slide-top {
                0% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
                100% {
                    -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
                }
            }
        </style>
    </head>
    <body>

    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h6>Authentication</h6>
                <h2>{{.Router.AppName}}</h2>
            </div>
            <div class="course-info">
                {{template "body" .}}
            </div>
        </div>
    </div>
    </body>
    <footer>
        <script>
            // INSERT JS HERE


            // SOCIAL PANEL JS
            const floating_btn = document.querySelector('.floating-btn');
            const close_btn = document.querySelector('.close-btn');
            const social_panel_container = document.querySelector('.social-panel-container');

            floating_btn.addEventListener('click', () => {
                social_panel_container.classList.toggle('visible')
            });

            close_btn.addEventListener('click', () => {
                social_panel_container.classList.remove('visible')
            });
        </script>
    </footer>
    </html>
{{ end }}