{{template "base" .}}

{{define "action"}}Login{{end}}

{{define "body"}}
    <h2 class="form-header">Login</h2>
    <div class="form-division"></div>
    <form method="post">
        <div class="form-control">
            <input type="text" class="form-input" placeholder="Type your email" name="username">
        </div>
        <div class="form-control">
            <input type="password" class="form-input" placeholder="Type your password" name="password">
        </div>
        <div class="forgot-password">
            <a href="{{.Router.SessionStatePath}}">Forgot your password?</a>
        </div>

        <input type="hidden" name="response_type" value="code">
        <input type="hidden" name="client_id" value="{{.Params.ClientID}}">
        <input type="hidden" name="redirect_uri" value="{{.Params.RedirectURI}}">
        <input type="hidden" name="scope" value="{{.Params.Scope}}">
        <input type="hidden" name="state" value="{{.Params.State}}">

        <div class="form-control">
            <input type="submit" class="btn" value="Continue">
        </div>
    </form>
    <div class="form-division">
        <h6>Or sign up using</h6>
    </div>

    <div class="providers-box">
        {{range .Providers}}
            <div class="provider">
                <a href="{{.Link}}">
                    <div class="{{.Name}}-provider"></div>
                </a>
            </div>
        {{end}}
    </div>

    <div class="form-division">
        <h6>Or sign up using</h6>
    </div>
    <a href="{{.Router.SessionRegisterPath}}" style="text-decoration: none">
        <div class="form-control btn">
            Register
        </div>
    </a>



{{end}}
