{{template "base" .}}

{{define "action"}}Recovery{{end}}

{{define "body"}}
    <h2 class="form-header">Reset Credentials</h2>
    <div class="form-division"></div>
    <form method="post">
        <div class="form-control">
            <input type="password" name="password" placeholder="Type your password" class="form-input">
        </div>

        <div class="form-control">
            <input type="submit" class="btn" value="Continue">
        </div>
    </form>
    <div class="form-division">
        <h6>Go back home</h6>
    </div>
    <a href="/" style="text-decoration: none">
        <div class="form-control btn">
            Home
        </div>
    </a>
{{end}}