{{template "base" .}}

{{define "action"}}Login{{end}}

{{define "body"}}
    <h1>Login</h1>
    <form method="post">
        <label for="email-field">Email</label>
        <input type="text" name="username" placeholder="email" id="email-field">
        <label for="password-field">Password</label>
        <input type="password" name="password" placeholder="password" id="password-field">

        <input type="hidden" name="response_type" value="code">
        <input type="hidden" name="client_id" value="{{.Params.ClientID}}">
        <input type="hidden" name="redirect_uri" value="{{.Params.RedirectURI}}">
        <input type="hidden" name="scope" value="{{.Params.Scope}}">
        <input type="hidden" name="state" value="{{.Params.State}}">

        <input type="submit" value="Login">
    </form>

    <a href="{{.Router.SessionRegisterPath}}">Register</a>|
    <a href="{{.Router.SessionStatePath}}">Forgot your password?</a>

    <div>
        {{range .Providers}}
            <div>
                <a href="{{.Link}}">Login with <span>{{.Name}}</span></a>
            </div>
        {{end}}
    </div>
{{end}}